## Day 8 of 100DaysOfCode üêç
### Python Loops - For, While üîÑ üîÅüïí

### **Python For Loops üîÑ**
A **for loop** is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [ ]:
# Printing each fruit in a fruit list
fruits = ["Banana", "Mango", "Orange"]
for fruit in fruits:      # Here fruit is the iterator in this loop
  print(fruit)

Banana
Mango
Orange

#### Looping Through a String
Even strings are iterable objects, it contain a sequence of characters.

In [ ]:
#  Looping through the letters in the word "Bangladesh"
for letter in "Bangladesh":
  print(letter)

B
a
n
g
l
a
d
e
s
h

#### The break Statement
With the **break statement**, we can stop the loop before it has looped through all the items.

In [ ]:
# Loop will break/exit the code when fruit is "Mango"
fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]
for fruit in fruits:
  print(fruit)
  if fruit == "Mango":
    break

Apple
Banana
Cherry
Mango

Exit the loop when fruit is "Mango", but this time the break comes before the print.

In [ ]:
# Loop will break/exit the code when fruit is "Mango"
fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]
for fruit in fruits:
  if fruit == "Mango":
    break
  print(fruit)

Apple
Banana
Cherry

#### The continue Statement
With the **continue statement**, we can stop the current iteration of the loop, and continue with the next.

In [ ]:
# Using continue will iterate each fruit except "Mango"
fruits = ["Apple", "Banana", "Cherry", "Mango", "Orange"]
for fruit in fruits:
  if fruit == "Mango":
    continue
  print(fruit)

Apple
Banana
Cherry
Orange

#### The range() Function
A **range() function** is used to loop through a set of code a specified number of times.<br>This function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
# Using the range() function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
# Using the start parameter
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
# Increment the sequence with 2 (default is 1)
for x in range(2, 11, 2):
  print(x)

2
4
6
8
10

#### Else in For Loop
The **else** keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [ ]:
# Printing all numbers from 0 to 5, and with a message when the loop has ended
for x in range(1, 6):
  print(x)
else:
  print("Finally finished!")

1
2
3
4
5
Finally finished!

#### Nested Loops
A **nested loop** is a loop inside a loop. The "inner loop" will be executed one time for each iteration of the "outer loop".

In [ ]:
# Printing each adjective for every fruit
adjectives = ["Red", "Big", "Tasty"]
fruits = ["Banana", "Mango", "Orange"]

for adjective in adjectives:
  for fruit in fruits:
    print(adjective, fruit)

Red Banana
Red Mango
Red Orange
Big Banana
Big Mango
Big Orange
Tasty Banana
Tasty Mango
Tasty Orange

#### The pass Statement
A for loop cannot be empty, but for some reason having a for loop with no content, put in the **pass statement** to avoid getting an error.

In [ ]:
for x in [0, 1, 2]:
  pass

#### **Python For Loops üîÑ- Exercises**

**Exercise 1**

In [ ]:
# Loop through the items in the fruits list
fruits = ["Apple", "Banana", "Cherry"]
for fruit in fruits:
  print(fruit)

Apple
Banana
Cherry

**Exercise 2**

In [ ]:
# In the loop, when the item value is "banana", jump directly to the next item
fruits = ["Apple", "Banana", "Cherry"]
for fruit in fruits:
  if fruit == "Banana":
    continue
  print(fruit)

Apple
Cherry

**Exercise 3**

In [ ]:
# Use the range function to loop through a code set 6 times
for x in range(6):
  print(x)

0
1
2
3
4
5

**Exercise 4**

In [ ]:
# Exit the loop when fruit is "Banana"
fruits = ["Apple", "Banana", "Cherry"]
for fruit in fruits:
  if fruit == "Banana":
    break
  print(fruit)

Apple

### **Python While Loops üîÅüïí**
A **while loop** is used for executing a set of statements as long as the condition is true.

In [ ]:
# Printing i as long as i is less than 6
i = 1
while i < 6:
  print(i)
  i += 1        # Note: Remember to increment i, or else the loop will continue forever.

1
2
3
4
5

#### The break Statement
With the **break statement**, we can stop the loop even if the while condition is true.

In [ ]:
# Printing i as long as i is the break is equal to 4
i = 1
while i < 6:
  if i == 4:
    break
  print(i)
  i += 1

1
2
3

#### The continue Statement
With the **continue statement**, we can stop the current iteration, and continue with the next.

In [ ]:
# Printing all numbers till 6, except 4
i = 0
while i < 6:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6

#### The else Statement
With the **else statement** we can run a block of code once when the condition no longer is true.

In [ ]:
# Printing a message once the condition is false
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

#### **Python While Loops üîÅüïí- Exercises**

**Exercise 1**

In [ ]:
# Printing i as long as i is less than 6
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

**Exercise 2**

In [ ]:
# The loop will stop if i is 3
i = 1
while i < 6:
  if i == 3:
    break
  i += 1

**Exercise 3**

In [ ]:
# In the loop, when i is 3, jump directly to the next iteration
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

**Exercise 4**

In [ ]:
# Print a message once the condition is false
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6