## Day 5 of 100DaysOfCode üêç
### Python Tuples üß∫ & Sets üõ¢Ô∏è- From [W3 Schools](https://www.w3schools.com/python/python_tuples.asp) üè´


## **Python Tuples üß∫**
---

üß∫ Tuples: Tuples is a single variable which used to store multiple items in Python. It created by using Parentheses **( )**. <br>
e.g. fruits = ("Banana", "Mango", "Orange")
<br><br>
Another way to create the Tuple is to use the **tuple()** constructor. <br>
e.g. fruits = tuple(("Banana", "Mango", "Orange"))
<br><br>
üß∫ Tuples items are immutable, ordered, and allow duplicate values. <br>
üß∫ Tuples items can be of any data types. Meaning - Tuples can contain different data types (String, Integer and Boolean, others). <br>
üß∫ Although Tuples are immutable, it can contain references to mutable objects like Lists.

###**Python Tuples üß∫- Access Items**

In [ ]:
# Positive indexing
# Printing the 1st item from the tuple
fruits = ("Banana", "Mango", "Orange")
print(fruits[0])

Banana

In [ ]:
# Negative indexing
# Printing the last item from the tuple
fruits = ("Banana", "Mango", "Orange")
print(fruits[-1])

Orange

In [ ]:
# Using range of indexes
# Printing the third, fourth, and fifth item from the tuple
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

###**Python Tuples üß∫- Update Items**

#### **Add Items**

In [ ]:
# Using append() method add new item in the tuple
fruits = ("apple", "banana", "cherry")
y = list(fruits)
y.append("orange")
fruits = tuple(y)
print(fruits)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
# Adding a new item in the tuple
fruits = ("apple", "banana", "cherry")
y = ("orange",)
fruits += y

print(fruits)

('apple', 'banana', 'cherry', 'orange')

#### **Remove Items**

In [ ]:
# Removing "apple" item from the tuple
fruits = ("apple", "banana", "cherry")
y = list(fruits)
y.remove("apple")
fruits = tuple(y)
print(fruits)

('banana', 'cherry')

In [ ]:
# Deleting the tuple completely
fruits = ("apple", "banana", "cherry")
del fruits
print(fruits)

NameError: ignored

###**Python Tuples üß∫- Unpack Tuples**

In [ ]:
# Unpacking a tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
# Using asterisk* for unpacking a tuple & assigning the rest of the values as a list of "red"
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

###**Python Tuples üß∫- Join Tuples**

In [ ]:
# Joining two tuples into one
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
# Multiplying thetTuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

###**Python Tuples üß∫- Tuple Methods**

Python has two built-in methods that can used on Tuples.

| Method    | Description                                                |
|-----------|------------------------------------------------------------|
| count()  | Returns the number of times a specified value occurs in a tuple |
| index()  | Searches the tuple for a specified value and returns the position of where it was found |

###**Python Tuples üß∫- Exercises**

#### **Exercise 1**

In [ ]:
# Printing the 1st item in the fruits tuple
fruits = ("apple", "banana", "cherry")
print(fruits[0])

apple

#### **Exercise 2**

In [ ]:
# Printing the number of items in the tuple
fruits = ("apple", "banana", "cherry")
print(len(fruits))

3

#### **Exercise 3**

In [ ]:
# Using negative indexing to print the last item
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

#### **Exercise 4**

In [ ]:
# Using a range of indexes to print the 3rd, 4th, and 5th item
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')


## **Python Sets üõ¢Ô∏è**
---

üõ¢Ô∏è Sets: Sets is a single variable which used to store multiple items in Python. It created by using Curly brackets **{ }**. <br>
e.g. fruits = {"Banana", "Mango", "Orange"}
<br><br>
Another way to create the Set is to use the **set()** constructor. <br>
e.g. fruits = set(("Banana", "Mango", "Orange"))
<br><br>
üõ¢Ô∏è Sets items are mutable, unordered, do not allow duplicate values. However, it can be removed items, added new items. <br>
üõ¢Ô∏è Sets items can be of any data types. Meaning - Sets can contain different data types (String, Integer and Boolean, others).

###**Python Sets üõ¢Ô∏è- Access Items**

In [ ]:
# Checking if "banana" is present in the set
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

###**Python Sets üõ¢Ô∏è- Add Items**

####To add one item to a set use the **add()** method.

In [ ]:
# Adding a new item to a set, using the add() method
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'cherry', 'banana', 'orange'}

####To add items from another set into the current set, use the **update()** method.

In [ ]:
# Adding items from another set into the current set by using the update() method
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'cherry', 'papaya', 'mango', 'apple', 'banana'}

#### In the update() method, it can be any iterable object (tuples, lists, dictionaries etc.).

In [ ]:
# Adding elements of a list with set
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'apple', 'kiwi', 'orange', 'banana'}

###**Python Sets üõ¢Ô∏è- Remove Items**

####To removing an item in a set, use the **remove()**, or the **discard()** method.

In [ ]:
# Removing "banana" by using the remove() method
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [ ]:
# Removing "cherry" by using the discard() method
thisset = {"apple", "banana", "cherry"}
thisset.remove("cherry")
print(thisset)

{'apple', 'banana'}

###**Python Sets üõ¢Ô∏è- Join Sets**

####There are several ways to join two or more sets in Python. <br>

#####One is using the **union()** method that returns a new set containing all items from both sets. <br>
#####Another one is using the **update()** method that inserts all the items from one set into another.

In [ ]:
# Using union() method returns all items from both sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [ ]:
# Using update() method inserts the items in set2 into set1
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

###**Python Sets üõ¢Ô∏è- Set Methods**

Python has a set of built-in methods that can used on Sets.

| Method    | Description                                                |
|-----------|------------------------------------------------------------|
| add()	    | Adds an element to the set                                 |
| update()  | Update the set with the union of this set and others       |
| union()	  | Return a set containing the union of sets                  |
| remove()  | Removes the specified element                              |
| discard()	| Remove the specified item                                  |

###**Python Sets üõ¢Ô∏è- Exercises**

#### **Exercise 1**

In [ ]:
# Checking "apple" is present in the fruits set
fruits = {"apple", "banana", "cherry"}
print("apple" in fruits)

True

#### **Exercise 2**

In [ ]:
# Using add() method to add "orange" to the set
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'apple', 'cherry', 'banana', 'orange'}

#### **Exercise 3**

In [ ]:
# Using update() method to add multiple items to the fruits set
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)
print(fruits)

{'cherry', 'apple', 'mango', 'grapes', 'orange', 'banana'}

#### **Exercise 4**

In [ ]:
# Using remove() method to remove "banana" from the set
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)

{'apple', 'cherry'}

#### **Exercise 5**

In [ ]:
# Using discard() method to remove "cherry" from the set
fruits = {"apple", "banana", "cherry"}
fruits.discard("cherry")
print(fruits)

{'apple', 'banana'}