## Day 19 of 100DaysOfCode üêç
### Regular Expressions

### **Regular Expressions üîçüí°**

A Regular Expressions or RegEx, is a sequence of characters that forms a search pattern.<br>RegEx can be used to check if a string contains the specified search pattern.

#### **RegEx Module**
Python has a built-in package called `re`, which can be used to work with Regular Expressions. By importing the `re` module, we can start using regular expressions.

In [ ]:
# Importing the re module
import re

txt = "There is rain in Bangladesh"
# Searching the string to see if it starts with "The" and ends with "Bangladesh"
x = re.search("^The.*Bangladesh$", txt)

In [ ]:
# Checking if it's matches or not and if matches, printing out the message
import re

txt = "There is rain in Bangladesh"
x = re.search("^The.*Bangladesh$", txt)

if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

#### **RegEx Functions**
The `re` module offers a set of functions that allows us to search a string for a match.

|Function|Description|
|--------|-----------|
|findall|Returns a list containing all matches|
|search|Returns a Match object if there is a match anywhere in the string|
|split|Returns a list where the string has been split at each match|
|sub|Replaces one or many matches with a string|

#### **The findall() Function**
The `findall()` function returns a list containing all matches.

In [ ]:
import re

#Return a list containing every occurrence of "rain"

txt = "There is rain in Bangladesh"
x = re.findall("rain", txt)
print(x)

['rain']

In [ ]:
# Returning an empty list if no match was found
import re

txt = "There is rain in Bangladesh"
x = re.findall("India", txt)
print(x)

[]

#### **The search() Function**
The `search()` function searches the string for a match, and returns a Match object if there is a match.

In [ ]:
# Searching for the first white-space character in the string
import re

txt = "There is rain in Bangladesh"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 5

#### **The split() Function**
The `split()` function returns a list where the string has been split at each match.

In [ ]:
# Spliting the string only at the third occurrence
import re

txt = "There is rain in Bangladesh"
x = re.split("\s", txt, 3)
print(x)

['There', 'is', 'rain', 'in Bangladesh']

In [ ]:
# Spliting at each white-space character
import re

txt = "There is rain in Bangladesh"
x = re.split("\s", txt)
print(x)

#### **The sub() Function**
The `sub()` function replaces the matches with the text of your choice.

In [ ]:
# Replacing every white-space character with the number 5
import re

txt = "There is rain in Bangladesh"
x = re.sub("\s", "5", txt)
print(x)

There5is5rain5in5Bangladesh

In [ ]:
# Replacing the first 2 occurrences only
import re

txt = "The rain in Spain"
x = re.sub("\s", "5", txt, 2)
print(x)

The5rain5in Spain

#### Match Object
A Match Object is an object containing information about the search and the result.

In [ ]:
# Doing a search that will return a Match object
import re

txt = "There is rain in Bangladesh"
x = re.search("rain", txt)
print(x) #this will print an object

<re.Match object; span=(9, 13), match='rain'>

The **Match object** has properties and methods used to retrieve information about the search, and the result.

* `.span()` returns a tuple containing the start-, and end positions of the match.
* `.string` returns the string passed into the function
* `.group()` returns the part of the string where there was a match

In [ ]:
#Searching for an upper case "B" character in the beginning of a word, and printing its position
import re

txt = "There is rain in Bangladesh"
x = re.search(r"\bB\w+", txt)
print(x.span())

(17, 27)

In [ ]:
# Printing the string passed into the function
import re

txt = "There is rain in Bangladesh"
x = re.search(r"\bB\w+", txt)
print(x.string)

There is rain in Bangladesh

In [ ]:
# Printing the part of the string where there was a match of "B"
import re

txt = "There is rain in Bangladesh"
x = re.search(r"\bB\w+", txt)
print(x.group())

Bangladesh