## Day 3 of 100DaysOfCode üêç
### Python Operators

### Python Arithmetic Operators ‚ûï‚ûñ‚úñÔ∏è‚ûó

#### Addition ‚ûï

In [ ]:
# Suming two values of x, and y

x = 9
y = 6

print(x + y)

15

#### Subtraction ‚ûñ

In [ ]:
# Difference the value of x from y

x = 64
y = 26

print(x - y)

38

#### Multiplication ‚úñÔ∏è

In [ ]:
# Product of the value of x & y

x = 8
y = 9

print(x * y)

72

#### Division ‚ûó

In [ ]:
# Dividing the value of x by y

x = 96
y = 12

print(x / y)

8.0

#### Modulus

In [ ]:
# Returns the remainder of dividing the value of x by y

x = 77
y = 12

print(x % y)

5

#### Exponentiation

In [ ]:
# Returns the raises value of x to the power of y

x = 4
y = 3

print(x ** y)

64

#### Floor division

In [ ]:
# Returns the quotient of the division of x divide by y (discarding any fractional part)
x = 77
y = 6

print(x // y)

12

### Python Comparison Operators üîÅüö´üëÜüëá‚¨ÜÔ∏è‚¨áÔ∏è

#### Equal üö´

In [ ]:
# Checking values of x, y equal or not

x = 15
y = 31

print(x == y) # returns False because 15 is not equal to 31

False

#### Not equal üö´

In [ ]:
# Checking values of x, y not equal

x = 15
y = 31

print(x != y) # returns True because 15 is not equal to 31

True

#### Greater than üëÜ

In [ ]:
# Checking value of x is greater than the value of y

x = 18
y = 9

print(x > y) # returns True because 18 is greater than 9

True

#### Less than üëá

In [ ]:
# Checking value of x is less than the value of y

x = 18
y = 9

print(x < y) # returns False because 18 is not less than 9

False

#### Greater than or equal to ‚¨ÜÔ∏è

In [ ]:
# Checking value of x is greater than or equal to the value of y

x = 77
y = 77

print(x >= y) # returns True because 77 is greater, or equal, to 77

True

#### Less than or equal to ‚¨áÔ∏è

In [ ]:
# Checking value of x is less than or equal to the value of y

x = 54
y = 39

print(x <= y) # returns False because 54 is neither less than or equal to 39

False

### Python Logical Operators üîó‚õìÔ∏èüö´

#### and üîó : Returns True if both statements are true

In [ ]:
# Checking the value of x meet the statement or not
x = 15

print(x > 7 and x < 20)

# returns True because 15 is greater than 7 AND 15 is less than 20

True

#### or ‚õìÔ∏è: Returns True if one of the statements is true

In [ ]:
x = 15

print(x > 13 or x < 14)

# returns True because one of the conditions are true (15 is greater than 13, but 15 is not less than 14)

True

#### not üö´: Reverse the result, returns False if the result is true

In [ ]:
x = 15

print(not(x > 13 and x < 20))

# returns False because not is used to reverse the result

False