## Day 4 of 100DaysOfCode üêç
### Python Lists ü™£ - From [W3 Schools](https://www.w3schools.com/python/python_lists.asp) üè´


## **Python Lists ü™£**
---

ü™£ Lists: Lists is a single variable which used to store multiple items in Python. It created by using Square brackets **[ ]**. <br>
e.g. fruits = ["Banana", "Mango", "Orange"]
<br><br>
Another way to create the List is to use the **list()** constructor. <br>
e.g. fruits = list(("Banana", "Mango", "Orange"))
<br><br>
ü™£ List items are mutable, ordered, and allow duplicate values. <br>
ü™£ List items can be of any data types. Meaning - a List can contain different data types (String, Integer and Boolean).

### **Python Lists ü™£- Access Items**
A List item can **access** by referring to it's index number using in a few ways. <br> Like **Positive Indexing**, **Negative Indexing**, and also using **Range of Indexes**.

In [ ]:
# Positive indexing
# Printing the 2nd item from the list
fruits = ["Banana", "Mango", "Orange"]
print(fruits[1])

Mango

In [ ]:
# Negative indexing
# Printing the 2nd item from the list
fruits = ["Banana", "Mango", "Orange"]
print(fruits[-2])

Mango

In [ ]:
# Range of indexes using positive indexing
# Printing the 3rd, 4th, 5th item from the list
fruits_list = ["Apple", "Banana", "Cherry", "Mango", "Orange", "Strawberry", "Watermelon"]
print(fruits_list[2:5])

['Cherry', 'Mango', 'Orange']

In [ ]:
# Range of indexes using negative indexing
# Printing the 3rd, 4th, 5th item from the list
fruits_list = ["Apple", "Banana", "Cherry", "Mango", "Orange", "Strawberry", "Watermelon"]
print(fruits_list[-5:-2])

['Cherry', 'Mango', 'Orange']

#### **Item can also be checked wtherther it's exit in the list or not**

In [ ]:
# Checking if the item (Orange) does exists in the list
fruits = ["Banana", "Mango", "Orange"]
print("Orange" in fruits)

True

### **Python Lists ü™£- Change List Items**

#### **Change Item Value**

To change the value of a specific item, refer to the index number.

In [ ]:
# Chaging the 2nd item in the list
fruits = ["Banana", "Mango", "Orange"]
fruits[1] = "Jackfruit"
print(fruits)

['Banana', 'Jackfruit', 'Orange']

####**Change a Range of Item Values**
To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

In [ ]:
# Chaging the values "Banana" and "Cherry" with "Blackcurrant" and "Melon"
fruits_list = ["Apple", "Banana", "Cherry", "Mango", "Orange", "Strawberry", "Watermelon"]
fruits_list[1:3] = ["Blackcurrant", "Melon"]
print(fruits_list)

['Apple', 'Blackcurrant', 'Melon', 'Mango', 'Orange', 'Strawberry', 'Watermelon']

####**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the **insert()** method.

In [ ]:
# Inserting Papaya as the 2nd item
fruits = ["Banana", "Mango", "Orange"]
fruits.insert(1, "Papaya")
print(fruits)

['Banana', 'Papaya', 'Mango', 'Orange']

### **Python Lists ü™£- Add List Items**

#### **Append Items**

To add an item to the end of the list, use the **append()** method.

In [ ]:
# Using append() method to add a new item
fruits = ["Banana", "Mango", "Orange"]
fruits.append("Apple")
print(fruits)

['Banana', 'Mango', 'Orange', 'Apple']

#### **Insert Items**

To insert a list item at a specified index, use the **insert()** method. <br>
This method inserts an item at the specific index.

In [ ]:
# Inserting an item as the 1st position
fruits = ["Banana", "Mango", "Orange"]
fruits.insert(0, "Pomegranate")
print(fruits)

['Pomegranate', 'Banana', 'Mango', 'Orange']

#### **Extend List**

To append elements from another list to the current list, use the **extend()** method.

In [ ]:
# Adding the elements of fruits_list2 to fruits_list1
fruits_list1 = ["Banana", "Mango", "Orange"]
fruits_list2 = ["Apple", "Cherry","Strawberry", "Watermelon"]
fruits_list1.extend(fruits_list2)
print(fruits_list1)

['Banana', 'Mango', 'Orange', 'Apple', 'Cherry', 'Strawberry', 'Watermelon']

#### **Add Any Iterable**

The **extend()** method does not have to append lists, you can add any iterable object (*tuples*, *sets*, *dictionaries* etc.).

In [ ]:
# Adding elements of a tuple to a list
fruits_list = ["Banana", "Mango", "Orange"]
fruits_tuple = ("Kiwi", "Lychee")
fruits_list.extend(fruits_tuple)
print(fruits_list)

['Banana', 'Mango', 'Orange', 'Kiwi', 'Lychee']

### **Python Lists ü™£- Remove List Items**

#### **Remove Specified Item**

The **remove()** method removes the specified item.

In [ ]:
# Removing Banana from the list
fruits = ["Banana", "Mango", "Orange"]
fruits.remove("Banana")
print(fruits)

['Mango', 'Orange']

#### **Remove Specified Index**

The **pop()** method removes the specified index.

In [ ]:
# Removing the 2nd item from the list
fruits = ["Banana", "Mango", "Orange"]
fruits.pop(1)
print(fruits)

['Banana', 'Orange']

If there is nothing specified in the index, **pop()** method removes the last item.

In [ ]:
# Removing the last item
fruits = ["Banana", "Mango", "Orange"]
fruits.pop()
print(fruits)

['Banana', 'Mango']

The **del** keyword also removes the *specified index*.

In [ ]:
# Deleting the 1st item
fruits = ["Banana", "Mango", "Orange"]
del fruits[0]
print(fruits)

['Mango', 'Orange']

The **del** keyword can also delete the *complete list*.

In [ ]:
# Deleting the entire list
fruits = ["Banana", "Mango", "Orange"]
del fruits
print(fruits)

NameError: ignored

#### **Clear the List**

The **clear()** method empties the list. The list still remains, but it has no item.

In [ ]:
# Clearing the list items
fruits = ["Banana", "Mango", "Orange"]
fruits.clear()
print(fruits)

[]

### **Python Lists ü™£- Sort Lists**

#### **Sort List Alphanumerically**

List objects have a **sort()** method that will sort the list alphanumerically, ascending (by default).

In [ ]:
# Sorting the list alphabetically
fruits = ["Banana", "Mango", "Orange", "Apple", "Cherry","Strawberry", "Watermelon"]
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Cherry', 'Mango', 'Orange', 'Strawberry', 'Watermelon']

In [ ]:
# Sorting the list numerically
thislist = [100, 50, 2, 65, 52, 82, 23, 75]
thislist.sort()
print(thislist)

[2, 23, 50, 52, 65, 75, 82, 100]

#### **Sort List Descending**

To sort descending, use the keyword argument reverse = True.

In [ ]:
# Sorting the list descending
fruits = ["Banana", "Mango", "Orange", "Apple", "Cherry","Strawberry", "Watermelon"]
fruits.sort(reverse = True)
print(fruits)

['Watermelon', 'Strawberry', 'Orange', 'Mango', 'Cherry', 'Banana', 'Apple']

#### **Reverse Order**

The **reverse()** method reverses the current sorting order of the elements.

In [ ]:
# Reverse the order of the list items
fruits = ["Banana", "Mango", "Orange", "Apple", "Cherry","Strawberry", "Watermelon"]
fruits.reverse()
print(fruits)

['Watermelon', 'Strawberry', 'Cherry', 'Apple', 'Orange', 'Mango', 'Banana']

### **Python Lists ü™£- Copy Lists**

#### **Copy a List**

The most common one way is to use **copy()** for copying a list.

In [ ]:
# Making a copy of a list
fruits = ["Banana", "Mango", "Orange", "Apple", "Cherry","Strawberry", "Watermelon"]
new_fruits= fruits.copy()
print(new_fruits)

['Banana', 'Mango', 'Orange', 'Apple', 'Cherry', 'Strawberry', 'Watermelon']

Another way to make a copy is to use the built-in method **list()**.

In [ ]:
# Making a copy of a list with list() method
fruits = ["Banana", "Mango", "Orange", "Apple", "Cherry","Strawberry", "Watermelon"]
new_fruits= list(fruits)
print(new_fruits)

['Banana', 'Mango', 'Orange', 'Apple', 'Cherry', 'Strawberry', 'Watermelon']

### **Python Lists ü™£- Join Lists**

#### **Join Two Lists**

Joining or concatenating has two or more lists in Python. The easiest way is by using the + operator.

In [ ]:
# Making a copy of a list
fruits_list1 = ["Banana", "Mango", "Orange"]
fruits_list2 = ["Apple", "Cherry","Strawberry", "Watermelon"]
joined_list = fruits_list1 + fruits_list2
print(joined_list)

['Banana', 'Mango', 'Orange', 'Apple', 'Cherry', 'Strawberry', 'Watermelon']

Another way is to by using **extend()** to add elements from one list to another list.

In [ ]:
# Using extend() method to add fruits_list2 at the end of fruits_list1
fruits_list1 = ["Banana", "Mango", "Orange"]
fruits_list2 = ["Apple", "Cherry","Strawberry", "Watermelon"]
fruits_list1.extend(fruits_list2)
print(fruits_list1)

['Banana', 'Mango', 'Orange', 'Apple', 'Cherry', 'Strawberry', 'Watermelon']

### **Python Lists ü™£- List Methods**

Python has a set of built-in methods that can used on Lists.

| Method    | Description                                                |
|-----------|------------------------------------------------------------|
| append()  | Adds an element at the end of the list                     |
| clear()   | Removes all the elements from the list                     |
| copy()	  | Returns a copy of the list                                 |
| count()	  | Returns the number of elements with the specified value    |
| extend()	| Add the elements of a list (or any iterable), to the end of the current list                                                             |
| index()	  | Returns the index of the first element with the specified value |
| insert()  | Adds an element at the specified position                  |
| pop()	    | Removes the element at the specified position              |
| remove()	| Removes the item with the specified value                  |
| reverse()	| Reverses the order of the list                             |
| sort()    | Sorts the list                                             |

### **Python Lists ü™£- Exercises**

#### **Exercise 1**

In [ ]:
# Printing the 2nd item in the fruits list
fruits = ["Apple", "Banana", "Cherry"]
print(fruits[1])

Banana

#### **Exercise 2**

In [ ]:
# Changing the value from "Apple" to "Kiwi"
fruits = ["Apple", "Banana", "Cherry"]
fruits[0] = "Kiwi"
print(fruits)

['Kiwi', 'Banana', 'Cherry']

#### **Exercise 3**

In [ ]:
# Using append() to add "orange" in the list
fruits = ["Apple", "Banana", "Cherry"]
fruits.append("Orange")
print(fruits)

['Apple', 'Banana', 'Cherry', 'Orange']

#### **Exercise 4**

In [ ]:
# Using insert() to add "lemon" as the 2nd item
fruits = ["Apple", "Banana", "Cherry"]
fruits.insert(1, "Lemon")
print(fruits)

['Apple', 'Lemon', 'Banana', 'Cherry']

#### **Exercise 5**

In [ ]:
# Using remove() to discard "banana" from the list
fruits = ["Apple", "Banana", "Cherry"]
fruits.remove("Banana")
print(fruits)

['Apple', 'Cherry']

#### **Exercise 6**

In [ ]:
# Using negative indexing to print the last item
fruits = ["Apple", "Banana", "Cherry"]
print(fruits[-1])

Cherry

#### **Exercise 7**

In [ ]:
# Using a range of indexes to print the 3rd, 4th, and 5th item in the list
fruits = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(fruits[2:5])

['Cherry', 'Orange', 'Kiwi']

#### **Exercise 8**

In [ ]:
# Using the correct syntax to print the number of items in the list
fruits = ["Apple", "Banana", "Cherry", "Orange", "Kiwi", "Melon", "Mango"]
print(len(fruits))

7